Repository andreabonvini/point-process: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, pytest, pytest-cov

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0  # Use the ref you want to point at
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: no-commit-to-branch
        args: ['--branch', 'master', '--branch' , 'develop', '--pattern', '(?!^(feature|refactor|bugfix|hotfix|release|document|ignored)/.*)']
        stages: [push]
  - repo: local
    hooks:
      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: pipenv run isort
        types: [python]

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: pipenv run black
        types: [python]

      - id: flake8
        name: flake8
        stages: [commit]
        language: system
        entry: pipenv run flake8
        types: [python]
        exclude: setup.py

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: pipenv run mypy
        types: [python]
        pass_filenames: false

      - id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: pipenv run pytest
        types: [python]
        pass_filenames: false

      - id: pytest-cov
        name: pytest
        stages: [push]
        language: system
        entry: pipenv run pytest --cov --cov-fail-under=100
        types: [python]
        pass_filenames: false

Update python-publish.yml
  .github/workflows/python-publish.yml
Due: none

Update setup.py
  setup.py
Due: isort, black, mypy, pytest, pytest-cov

C optimization completed for regression pipeline
  Pipfile
  Pipfile.lock
  __init__.py
  pp/core/distributions/__init__.py
  pp/core/distributions/inverse_gaussian.py
  pp/core/maximizers.py
  pp/core/weights_producers.py
  pp/model.py
  pp/optimized/c_regr_likel.c
  pp/optimized/py_regr_likel.py
  pp/optimized/regr_likel.so
  pp/regression.py
  pp/spectral.py
  setup.py
  tests/test_core/test_distributions/test_inverse_gaussian.py
  tests/test_core/test_distributions/test_tools.py
  tests/test_core/test_maximizers.py
  tests/test_core/test_model.py
  tests/test_core/test_weights_producers.py
  tests/test_regression.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

Refactoring...
  .gitignore
  README.md
  plots/data.png
  plots/k_history.png
  plots/optimization_values.png
  plots/plot.png
  plots/theta_history.png
  pp/core/maximizers.py
  pp/model.py
  pp/optimized/__init__.py
  pp/optimized/c_regr_likel.c
  pp/optimized/py_regr_likel.py
  pp/optimized/regr_likel.so
  pp/regression.py
  pp/spectral.py
  pp/statistics.py
  setup.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

Documentation update + rc fix
  .coveragerc
  CONTRIBUTING.md
  README.md
  docs/images/inter-event-times.png
  docs/images/ks_plot.png
  docs/images/lambdas.png
  docs/images/lambdas34.png
  docs/images/ppplot.png
  docs/images/regr_likel.png
  docs/images/spec.png
  docs/images/spec_agg.png
  docs/index.md
  docs/theory_docs/TimeRescalingTheorem.md
  pp/core/distributions/inverse_gaussian.py
  pp/core/maximizers.py
  pp/core/weights_producers.py
  pp/model.py
  pp/optimized/c_regr_likel.c
  pp/optimized/inverse_gaussian.h
  pp/optimized/miscellania.h
  pp/optimized/py_regr_likel.py
  pp/optimized/regr_likel.so
  pp/optimized/standard_normal.h
  pp/plot.py
  pp/regression.py
  pp/spectral.py
  pp/statistics.py
  tests/test_optimized.py
Due: isort, black, flake8, mypy, pytest, pytest-cov
