Repository andreabonvini/point-process: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, pytest, pytest-cov

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0  # Use the ref you want to point at
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: no-commit-to-branch
        args: ['--branch', 'master', '--branch' , 'develop', '--pattern', '(?!^(feature|refactor|bugfix|hotfix|release|document|ignored)/.*)']
        stages: [push]
  - repo: local
    hooks:
      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: pipenv run isort
        types: [python]

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: pipenv run black
        types: [python]

      - id: flake8
        name: flake8
        stages: [commit]
        language: system
        entry: pipenv run flake8
        types: [python]
        exclude: setup.py

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: pipenv run mypy
        types: [python]
        pass_filenames: false

      - id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: pipenv run pytest
        types: [python]
        pass_filenames: false

      - id: pytest-cov
        name: pytest
        stages: [push]
        language: system
        entry: pipenv run pytest --cov --cov-fail-under=100
        types: [python]
        pass_filenames: false

pdf fix
  docs/code_docs/pdfs/Gradient&Hessian-code.pdf
Due: none

Adjusted paths in bin/ directory
  Pipfile.lock
  __init__.py
  bin/regr_likel.py
  docs/code_docs/Gradient&Hessian-code.md
  setup.py
  tests/__init__.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

Added contraints paramaters optimization
  bin/regr_likel.py
  pp/algorithmic.py
  pp/distributions.py
  pp/likelihood.py
  pp/utils.py
  setup.cfg
Due: isort, black, flake8, mypy, pytest, pytest-cov

Set theme jekyll-theme-dinky
  _config.yml
  index.md
Due: none

Update index.md
  index.md
Due: none

Added CONTRIBUTIN.md
  CONTRIBUTING.md
  README.md
Due: none

Update README.md
  README.md
Due: none

Remove docs
  docs/code_docs/Gradient&Hessian-code.md
  docs/code_docs/pdfs/Gradient&Hessian-code.pdf
  docs/theory_docs/Gradient&Hessian-derivation.md
  docs/theory_docs/pdfs/Gradient&Hessian-derivation.pdf
Due: none

useless commit
  docs/code/.DS_Store
  docs/code/Gradient&Hessian-code.md
  docs/scientific/.DS_Store
  docs/scientific/Gradient&Hessian-derivation.md
  index.md
Due: none

modified config
  _config.yml
Due: none

added documentation folder to .gitignore
  .gitignore
Due: none

Set theme jekyll-theme-cayman
  docs/_config.yml
  docs/index.md
Due: none

Update index.md
  docs/index.md
Due: none

docs first commit
  README.md
  docs/_config.yml
  docs/index.md
  docs/theory_docs/Hazard Function in Survival Analysis.html
  docs/theory_docs/Inhomogenous Poisson Process in the Time Domain.html
  docs/theory_docs/Inverse Gaussian - Gradient and Hessian derivation.html
  docs/theory_docs/Inverse Gaussian - MLE for Point Process Analysis.html
Due: none

refactoring
  bin/regr_likel.py
  docs/index.md
  docs/theory_docs/Hazard Function in Survival Analysis.html
  docs/theory_docs/Inhomogenous Poisson Process in the Time Domain.html
  docs/theory_docs/Inverse Gaussian - Gradient and Hessian derivation.html
  pp/algorithmic.py
  pp/core/__init__.py
  pp/core/maximizers.py
  pp/core/model.py
  pp/core/utils/__init__.py
  pp/core/utils/constraints.py
  pp/core/utils/inverse_gaussian.py
  pp/distributions.py
  pp/regression.py
  pp/utils.py
  tests/data/Y2.csv
  tests/test_algorithmic.py
  tests/test_core/__init__.py
  tests/test_core/test_maximizers.py
  tests/test_core/test_utils/__init__.py
  tests/test_core/test_utils/test_constraints.py
  tests/test_core/test_utils/test_inverse_gaussian.py
  tests/test_distributions.py
  tests/test_likelihood.py
  tests/test_regression.py
  tests/test_utils.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

added PointProcessModel for Inverse Gaussian
  bin/regr_likel.py
  pp/core/maximizers.py
  pp/core/model.py
  pp/core/utils/__init__.py
  pp/core/utils/inverse_gaussian.py
  pp/regression.py
  pp/utils.py
  tests/test_core/test_maximizers.py
  tests/test_core/test_model.py
  tests/test_core/test_utils/test_inverse_gaussian.py
  tests/test_core/test_utils/test_utils.py
  tests/test_regression.py
  tests/test_utils.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

Added WeightsProducer, Maximizer + eta is not learnable
  pp/__init__.py
  pp/core/maximizers.py
  pp/core/model.py
  pp/core/utils/inverse_gaussian.py
  pp/core/weights_producers.py
  pp/regression.py
  tests/test_core/test_maximizers.py
  tests/test_core/test_utils/test_inverse_gaussian.py
  tests/test_core/test_weights_producers.py
  tests/test_regression.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

docs correction
  docs/theory_docs/Inverse Gaussian - Gradient and Hessian derivation.html
Due: none

It actually works
  bin/regr_likel.py
  plots/data.png
  plots/k_history.png
  plots/optimization_values.png
  plots/plot.png
  plots/theta_history.png
  pp/core/distributions/__init__.py
  pp/core/distributions/inverse_gaussian.py
  pp/core/maximizers.py
  pp/core/model.py
  pp/core/utils/__init__.py
  pp/core/utils/constraints.py
  pp/core/utils/inverse_gaussian.py
  pp/core/weights_producers.py
  pp/regression.py
  tests/data/Y2.csv
  tests/test_core/test_distributions/__init__.py
  tests/test_core/test_distributions/test_inverse_gaussian.py
  tests/test_core/test_distributions/test_tools.py
  tests/test_core/test_maximizers.py
  tests/test_core/test_model.py
  tests/test_core/test_utils/test_constraints.py
  tests/test_core/test_weights_producers.py
  tests/test_regression.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

README.md updated
  README.md
  docs/images/plot.png
  pp/regression.py
  tests/test_regression.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

updated documentation and regr_likel refactoring
  README.md
  bin/regr_likel.py
  docs/index.md
  docs/theory_docs/Inverse Gaussian - Gradient and Hessian - Computation.html
  docs/theory_docs/Inverse Gaussian - Gradient and Hessian - Derivation.html
  docs/theory_docs/Inverse Gaussian - Gradient and Hessian derivation.html
  pp/__init__.py
  pp/core/maximizers.py
  pp/core/weights_producers.py
  pp/regression.py
  tests/test_core/test_maximizers.py
  tests/test_regression.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

typos
  docs/index.md
Due: none

PointProcessModel and PointProcessResult added to docs
  docs/index.md
  pp/core/model.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

Create python-publish.yml
  .github/workflows/python-publish.yml
Due: none

Update setup.py
  setup.py
Due: isort, black, mypy, pytest, pytest-cov

minor fix
  README.md
  docs/index.md
Due: none

readme fix
  README.md
Due: none

index fix
  docs/index.md
Due: none

added test files and docs fix
  docs/index.md
  pp/core/distributions/inverse_gaussian.py
  pp/core/model.py
  tests/__init__.py
  tests/test_core/test_distributions/test_inverse_gaussian.py
  tests/test_core/test_model.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

realtimeIG video added
  README.md
  docs/index.md
Due: none

SpectralAnalyser added
  Pipfile.lock
  pp/core/distributions/inverse_gaussian.py
  pp/core/maximizers.py
  pp/core/model.py
  pp/core/spectral.py
  tests/__init__.py
  tests/data/Y2.pre.txt
  tests/data/__init__.py
  tests/test_core/test_distributions/test_inverse_gaussian.py
  tests/test_core/test_model.py
  tests/test_core/test_spectral.py
  tests/test_regression.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

Fix to SpectralAnalyzer
  .coveragerc
  pp/core/spectral.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

HRV indices added
  .coveragerc
  bin/regr_likel.py
  pp/__init__.py
  pp/core/distributions/inverse_gaussian.py
  pp/core/maximizers.py
  pp/core/weights_producers.py
  pp/model.py
  pp/regression.py
  pp/spectral.py
  tests/test_core/test_maximizers.py
  tests/test_core/test_model.py
  tests/test_regression.py
  tests/test_spectral.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

regr likel pipeline added (no right-censoring yet)
  pp/__init__.py
  pp/core/maximizers.py
  pp/core/weights_producers.py
  pp/model.py
  pp/regression.py
  tests/data/__init__.py
  tests/test_core/test_maximizers.py
  tests/test_core/test_model.py
  tests/test_core/test_weights_producers.py
  tests/test_regression.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

citations
  pp/core/maximizers.py
  pp/regression.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

Added Right-Censoring + huge refactoring
  README.md
  bin/regr_likel.py
  docs/images/ppbig.png
  docs/images/pplogo.jpeg
  pp/core/distributions/inverse_gaussian.py
  pp/core/maximizers.py
  pp/model.py
  pp/regression.py
  pp/spectral.py
  pp/statistics.py
  tests/data/Y2.pre.txt
  tests/data/__init__.py
  tests/data/test_dataset.csv
  tests/test_core/test_distributions/test_inverse_gaussian.py
  tests/test_core/test_maximizers.py
  tests/test_core/test_model.py
  tests/test_regression.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

KS plot added and Point Process Pipeline optimized
  docs/theory_docs/Hazard Function in Survival Analysis.html
  pp/core/distributions/inverse_gaussian.py
  pp/core/maximizers.py
  pp/model.py
  pp/regression.py
  pp/statistics.py
  tests/test_core/test_distributions/test_inverse_gaussian.py
  tests/test_regression.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

Update python-publish.yml
  .github/workflows/python-publish.yml
Due: none
